<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Selection</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/routes/script.js"></script>
</head>

<body class="login-selection">
    <div class="container">
        <h1>Are you a Student or Teacher?</h1>
        <button class="btn" onclick="redirectToLogin('student')">Student</button>
        <button class="btn" onclick="redirectToLogin('teacher')">Teacher</button>
    </div>

   <% if (signup === 'success') { %>
    <div id="popup" class="popup">Sign up successfully!</div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const popup = document.getElementById('popup');
            setTimeout(() => {
                popup.classList.add('hide');
            }, 3000); 
        });
    </script>
    <% } %>
</body>

</html>
