<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
</head>

<body class="student-login">
    <div class="login-container">
        <h1>Student Login</h1>
        <form action="/student-dashboard" method="POST">
            <input type="text" name="student_id" placeholder="Student ID" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button class="btn" type="submit">Login</button>
        </form>
        <br>
        <button class="gmail-btn" onclick="loginWithGoogle()">Login with Gmail</button>
    </div>

    <script src="script.js"></script>
</body>

</html>
