<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="teacher-login">
    <div class="login-container">
        <h1>Teacher Login</h1>
        <form action="/teacher-dashboard" method="POST">
            <input type="text" name="teacher_id" placeholder="Teacher ID" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>

    <script src="script.js"></script>
</body>

</html>
