<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/routes/script.js"></script>
</head>

<body class="signup">
    <div class="container">
        <h1>Teacher Login</h1>
        <form action="/teacher-login" method="POST">
            <input type="text" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button class="btn" type="submit">Login</button>
        </form>
        <br>
        <a href="/signup" class="btn">Sign Up</a>

        <% if (error === 'invalid_credentials') { %>
            <div id="error-popup" class="popup-error">Invalid credentials, please try again!</div>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const errorPopup = document.getElementById('error-popup');
                    errorPopup.style.display = 'block';
                    setTimeout(() => errorPopup.classList.add('hide'), 3000);
                });
            </script>
        <% } %>

    </div>

    <script src="script.js"></script>
</body>

</html>
