name: Hello World

on:
  push:
    branches:
    - 'main'
    pull_request:
      branches:
      - 'main'

jobs:
  hello:
    runs-on: windows-latest

    steps:
      - name: hello step
        run: echo "hello World test"